
/*header */
.btn__small {
    padding: 5px 5px;
    border-radius: 10px;
    border: 0px;
    background: #40a832e5;
    color: #fff;
    margin: 2px;
    font-size: 14px;
    cursor: pointer;
}

.btn {
    padding: 10px 10px;
    border-radius: 10px;
    border: 0px;
    background: #40a832e5;
    color: #fff;
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
}

.btn_remove {
    background: #ec4949;
}

h4 {
    display: inline;
}
.cart__counter span {
    color: #fff;
    position: relative;
    /* top: 30%;
    left: 30%; */
    font-size: 20px;
    margin: 8px;
}

.fa-shopping-cart {
    color: #fff;
    font-size: 25px !important;
}

.cart__items {
    animation: show__cart 1s ease-in-out;
    position: absolute;
    right: 24%;
    top: 105%;
    padding: 10px;
    display: none;
    background: #FFF;
    border-radius: 10px;
    z-index: 2;
    width: 700px;
    box-shadow: 2px 2px 10px rgba(151, 146, 146, 0.924);
    border-bottom: 1px solid #f6b08c;

}

.cart__items:before {
    content: '';
    position: absolute;
    top: -5%;
    right: 3%;
    width: 30px;
    height: 50px;
    background: rgb(255, 255, 255);
    transform: rotate(45deg);
    box-shadow: 2px 0px 10px -2px rgb(255, 255, 255);
}

.cart__items.active {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.cart_item >* {
    margin: 20px;
}

.cart_item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.total__cost {
    /* padding: 20px; */
    position: relative;
    top: 80%;
    left: 3%;
}

.check_out {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

@keyframes show__cart {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }

} 
.btn__add__to__cart {
    position: relative;
    /* top: 10%; */
    bottom: 0;
    background: #40a832e5;
    color: #fff;
    width: 80%;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;

}


/*.gallery*/
.container{
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
img{
	max-width: 100%;
	vertical-align: middle;
}
.gallery{
	display: block;
	min-height: 100vh;
	padding: 100px 0;
	background: #222;
    text-transform: capitalize;
}
.title1 {
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 0.2rem;
    font-family: 'Staatliches', cursive;
}
  
.title1 h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: white;
}
  
.title1 span {
    color: gray;
}
.gallery .gallery-filter{
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
    margin-top: 3.5rem;
}
.gallery .gallery-filter .filter-item{
	color: #9f92a5;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	margin:0 10px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	line-height: 1.2;
	transition: all 0.3s ease;
	font-weight: bold;
	font-family: 'Sofadi One', cursive;
}
.gallery .gallery-filter .filter-item.active{
	color: #3071c7;
	border-color : #2c4b68;
}

.gallery .gallery-item{
	width: calc(100% / 3);
	padding: 15px;
	text-align: center;
}
.gallery .gallery-item-inner{
	width: 300px;
	height: 400px;
	margin: 3rem;
	position: relative;
    margin-bottom: 8rem;
}
.gallery .gallery-item-inner img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
    transform-origin: 0 100%;
}
.gallery-item-inner h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 14px;
    color: rgb(214, 189, 238);
    font-weight: bold;
}
.gallery-item-inner h4{
    color: white;
}
.gallery-item-inner i{
    color: rgb(247, 150, 114);
}
.gallery-item-inner:hover .textbox{
    opacity: 1;
    transform: rotateX(0deg);
}
.gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gallery .gallery-item.hide{
	display: none;
}

.btn__add__to__cart:hover{
    color: aquamarine;
    background: #db94f2;
    box-shadow: 0 0 10px #db94f2 ,0 0 40px #db94f2 ,0 0 80px #db94f2;
      cursor: pointer;
}

/* gallery end */

@media (max-width: 1040px){

.gallery .gallery-item{
    width: calc(100% / 2);
}
.gallery .gallery-item-inner{
    width: 250px;
    height: 400px;
    margin: 0.3rem;
    margin-top: 6rem;
    margin-left: 1rem;
    position: relative;
    margin-bottom: 5rem;
}
.gallery-item-inner .textbox{
    width: 250px;
}
.cart__items {
    width: 600px;
    right: 12%;
    top: 700%;
}



}

@media (max-width: 560px){
   	
	.gallery .gallery-filter .filter-item{
		margin-bottom: 10px;
	}
	.gallery .gallery-item{
		width: calc(100% / 1);
		margin-left: 2rem;
	}
	.gallery .gallery-item-inner{
		width: 250px;
		height: 400px;
		margin: 1rem;
		margin-top: 5rem;
		position: relative;
        margin-bottom: 5rem;
	}
    .cart__items {
        width: 340px;
        right: 6%;
        top: 100%;
    }

    .cart_item {
        width: 340px;
        /* padding: 10px; */
    }

    .cart_item > * {
        margin: 5px;
        padding: 5px;
    }

    .check_out {
        font-size: 12px;
    }
}    